

/* Metis Menu css */
.metismenu {
  padding: 0;

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }
}

.topbar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  .topbar-left {
    background: $bg-gradient;
    float: left;
    text-align: center;
    height: 60px;
    position: relative;
    width: 240px;
    z-index: 1;

    .logo {
      line-height: 60px;

      .logo-sm {
        display: none;
      }
    }
  }
}

.navbar-custom {
  background-color: $white;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 10px 0 0;
  box-shadow: $shadow;
  margin-left: 240px;
  min-height: 60px;
  position: relative;

  .nav-link {
    padding: 0 4px;
  }

  .navbar-right{
    .dropdown-toggle {
      &:after {
        content: initial;
      }
    }
  }
  .flags-dropdown{
    .flag-img{
      max-width: 18px;
      margin-right: 6px;
    }
  }
  .dropdown-menu.show{
    margin-top: 10px;
    &:before{
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background: $white;
      top: -6px;
      left: 18px;
      transform: rotate(45deg);
      box-shadow: -2px -4px 0.5rem rgba(108, 118, 134, 0.1);
    }
  }
  .dropdown-menu-right.show{
    &:before{
      right: 18px;
      left: auto;
    }
  }
}


.side-menu {
  width: 240px;
  z-index: 999;
  background: $bg-gradient;
  bottom: 0;
  margin-top: 0;
  padding-bottom: 30px;
  position: fixed;
  top: 60px;

  .waves-effect {
    .waves-ripple {
      background-color: rgba($primary, 0.4);
    }
  }
  .slimScrollBar{
    background: $white !important;
  }
}



.enlarged .side-menu {
  position: absolute;
}

.content-page {
  margin-left: 240px;
  overflow: hidden;

  .content {
    padding: 0 10px 10px 10px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.button-menu-mobile {
  border: none;
  color: lighten($dark,20%);
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: $white;
  font-size: 24px;
}

#sidebar-menu > ul > li > a {
  color: rgba($white, 0.7);
  display: block;
  padding: 13px 20px;
  font-size: 14.5px;
  position: relative;
  transition: all 0.5s;

  &:hover,&:focus,&:active {
    color: $white;
    text-decoration: none;
  }
}

#sidebar-menu > ul > li > a.active {
  color: $white !important;
}

#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
  margin-left: 5px;
}

.submenu li a {
  padding: 8px 20px 8px 10px;
  color: rgba($white, 0.6);
  display: block;
  transition: all 0.5s;

  &:hover {
    color: $white;
  }
}

.submenu > li > a {
  padding-left: 50px;
}

.submenu li.active {
  > a {
    color: $white;
  }
}

#sidebar-menu {
  padding-top: 10px;
  .badge {
    margin-top: 4px;
  }

  li.active {
    .menu-arrow i {
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  ul {
    li {
      a{
        i{
          display: inline-block;
          font-size: $base-font;
          line-height: 17px;
          vertical-align: middle;
          width: 20px;
        }
      }
    }
  }
}

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: $white;
}

/************* enlarged *************/

.enlarged {
  .slimScrollDiv{
    overflow: inherit !important;
  }
  .slimScrollBar {
    visibility: hidden;
  }
}
.enlarged #wrapper {
  .navbar-custom {
    margin-left: 70px;
  }
  #sidebar-menu {
    .menu-title, .menu-arrow, .badge {
      display: none !important;
    }
    .collapse.in {
      display: none !important;
    }
    .nav.collapse {
      height: inherit !important;
    }
    ul {
      ul {
        margin-top: -2px;
        padding-bottom: 5px;
        padding-top: 5px;
        z-index: 9999;
        background-color: $primary;
      }
    }
  }
  .left.side-menu {
    width: 70px;
    z-index: 5;

    #sidebar-menu > ul > li > a {
      padding: 15px 24px;
      min-height: 56px;
      &:hover,&:active,&:focus  {
        color: $white !important;
        background-color: darken($primary, 2.5%);
      }

      i {
        font-size: 16px;
        margin-right: 20px !important;
        text-align: center;
      }
    }
    #sidebar-menu {
      ul > li {
        position: relative;
        white-space: nowrap;
        &:hover > a {
          position: relative;
          width: 260px;
          background-color: darken($primary, 2.5%);
        }
        &:hover > ul {
          display: block;
          left: 70px;
          position: absolute;
          width: 190px;
          height: auto !important;

          a {
            box-shadow: none;
            padding: 8px 20px;
            position: relative;
            width: 190px;
            z-index: 6;

            &:hover {
              color: $white;
            }
          }
        }
        &:hover {
          a {
            span {
              display: inline;
            }
          }
        }
      }

      ul {
        ul {
          li {
            &:hover > ul {
              display: block;
              left: 190px;
              margin-top: -36px;
              position: absolute;
              width: 190px;
            }
          }
          li > a {
            span.float-right {
              -ms-transform: rotate(270deg);
              -webkit-transform: rotate(270deg);
              position: absolute;
              right: 20px;
              top: 12px;
              transform: rotate(270deg);
            }
          }
          li.active {
            a{
              color: $white;
            }
          }
        }
      }
      ul > li > a {
        span {
          display: none;
          padding-left: 10px;
        }
      }
    }
    .user-details {
      display: none;
    }
  }
  .content-page {
    margin-left: 70px;
  }
  .footer {
    left: 70px;
  }
  .topbar {
    .topbar-left {
      width: 70px !important;
      .logo {
        .logo-large {
          display: none;
          opacity: 0;
        }
        .logo-sm {
          display: inline-block;
          line-height: 60px;
        }
      }
    }

  }
  #sidebar-menu > ul > li {
    &:hover > a.open {
      :after {
        display: none;
      }
    }
    &:hover > a.active {
      :after {
        display: none;
      }
    }
  }
}

/************* Notification *************/

.notification-list {
  margin: 0 !important;

  .noti-title {
    margin: -4px 0px 0px 0px;
    width: auto;
    padding: 12px 20px;

    h5 {
      margin: 0;
      font-size: 14px;
    }
  }

  .noti-icon {
    font-size: 22px;
    vertical-align: middle;
  }
  .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 6px;
    background-color: $danger;
  }
  .notify-item {
    padding: 15px 20px;

    .notify-icon {
      float: left;
      height: 36px;
      width: 36px;
      line-height: 36px;
      text-align: center;
      margin-right: 10px;
      border-radius: 50%;
      color: $white;
    }
    .notify-details {
      margin-bottom: 0;
      overflow: hidden;
      margin-left: 45px;
      text-overflow: ellipsis;
      white-space: nowrap;
      b {
        font-weight: 600;
      }
      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
      }
    }
  }
  .notify-all {
    margin: 0 0 -5px 0;
    background-color: $light;
  }
  .nav-link {
    padding: 0 12px;
    line-height: 60px;
    color: $muted;
  }
}

.notification-list, .page-title-box {
  .dropdown-menu.dropdown-menu-right {
    -webkit-transform: none !important;
    transform: none !important;
    top: 100% !important;
    right: 0 !important;
    left: auto !important;
  }
  .show > .dropdown-menu {
    margin-top: 8px !important;
  }
}
.profile-dropdown {
  width: 170px;
  i {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 7px;
  }
}

.nav-user {
  img {
    margin-top: -3px;
    height:30px;
    width: 30px;
  }
}

.arrow-none:after {
  border: none;
  margin: 0;
  display: none;
}

.dropdown-menu-lg {
  width: 270px;
}

/************* Search *************/

.search-wrap {
  background-color: $white;
  color: $dark;
  z-index: 9997;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  transform: translate3d(0, -100%, 0);
  transition: 0.3s;

  form {
    display: flex;
    width: 100%;
  }
  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .search-input {
    flex: 1 1;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }
  .close-search {
    line-height: 60px;
    color: inherit;
    font-size: 20px;

    &:hover {
      color: $danger;
    }
  }
}

.search-wrap.open {
  transform: translate3d(0, 0, 0);
}


/************* page-title *************/

.page-title-box {
  padding: 15px 0px;
  color: rgba($dark, 0.9);
  .col-md-8, .col-md-4{
    padding: 0px 15px;
  }
  .page-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .dropdown-menu.show{
    margin-top: 10px;
    &:before{
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background: $white;
      top: -6px;
      right: 18px;
      transform: rotate(45deg);
      box-shadow: -2px -4px 0.5rem rgba(108, 118, 134, 0.1);
    }
  }
  .breadcrumb {
    padding: .75rem 0rem;
    .breadcrumb-item {
      a {
        color: rgba($dark, 0.9);
      }
    }
    .breadcrumb-item.active{
      color: rgba($dark, 0.7);
    }
  }
}

.breadcrumb>.breadcrumb-item+.breadcrumb-item:before {
  padding: 0 4px;
  margin-right: 7px;
  color: rgba($dark,0.7);
  content: "\f105" !important;
  font-family: FontAwesome;
}

/* Footer */
.footer {
  bottom: 0;
  text-align: center !important;
  padding: 19px 30px 20px;
  position: absolute;
  right: 0;
  left: 240px;
  color: $dark;
}


