@media (max-width: 800px) {
    .container {
        width: 94%;
        padding: 0 3%;
    }

    section {
        overflow: hidden;
    }

    .section1 {
        background: url('../images/se1_bg.jpg') top left no-repeat;
        background-size: cover;
        min-width: 100%;
    }

    nav {
        display: none;
    }

    .zf_icons {
        display: none;
    }

    .logo {
        margin-top: 8px;
    }

    .header_fix {
        position: fixed !important;
        min-width: 100%;
        height: 60px;
        line-height: 60px;
        top: 0;
    }

        .header_fix .logo {
            margin-top: 8px;
        }

    header {
        height: 60px;
        line-height: 60px;
    }

    .main_shadow {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #389ef3;
        opacity: 0.9;
        z-index: 1000;
    }

        .main_shadow ul {
            width: 80%;
            margin: 120px auto;
            text-align: center;
        }

            .main_shadow ul li {
                height: 48px;
                border-bottom: 1px solid rgba(255,255,255,0.1);
            }

                .main_shadow ul li > a {
                    display: block;
                    color: #fff;
                    font: 14px/48px Arial,sans-serif;
                }

    .left_txt {
        float: none;
        margin-top: 20px;
    }

        .left_txt img {
            margin-bottom: 100px;
        }

        .left_txt h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .left_txt p {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 40px;
        }

    .right_img {
        position: relative;
        right: auto;
        top: 60px;
    }

        .right_img img {
            width: 100%;
        }

    .linear_txt {
        font-size: 14px;
    }

    .se2_left_txt {
        float: none;
        width: 100%;
        margin-top: 70px;
    }

        .se2_left_txt h3 {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 20px;
        }

        .se2_left_txt p {
            display: none;
        }

    .right_card {
        float: none;
        width: 100%;
        margin-top: 0;
    }

        .right_card li {
            float: right;
            width: calc(50% - 10px);
            height: 200px;
            border-radius: 8px;
            background: #fff;
            margin: 0 0 20px 20px;
            overflow: hidden;
            box-shadow: 0 4px 20px rgba(41,60,96,0.1);
        }

            .right_card li:nth-child(even) {
                margin-left: 0;
            }

            .right_card li > div {
                height: 100px;
            }

            .right_card li div {
                line-height: 100px;
            }

                .right_card li div img {
                    height: 50px;
                }

    .section3 {
        background: #f8fbfd;
    }

    .se2_left_txt > img {
        display: none;
    }

    .se3_right {
        float: none;
        width: 100%;
        margin-top: 40px;
    }

        .se3_right li {
            margin-bottom: 40px;
        }

            .se3_right li > img {
                margin-right: 20px;
            }

            .se3_right li > span {
                width: calc(100% - 70px);
            }

                .se3_right li > span > h3 {
                    font-size: 14px;
                }

                .se3_right li > span > p {
                    font-size: 12px;
                    line-height: 20px;
                }

    .section4 {
        background: url('../images/se4_bg.png') right no-repeat;
        background-size: cover;
    }

    .se4_title {
        font-size: 14px;
        text-align: right;
        margin-top: 70px;
    }

        .se4_title h3 {
            font-size: 14px;
        }

    .se4_cards ul {
        margin-top: 40px;
    }

    .se4_cards li {
        width: calc(50% - 10px);
        height: 200px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

        .se4_cards li:nth-child(even) {
            margin-right: 0;
        }

    .se4_cards .actived {
        width: calc(50% - 10px);
        height: 200px;
        margin-top: 0;
        box-shadow: 0 14px 28px -12px rgba(41,60,96,0.6);
    }

    .se4_cards li div img {
        margin-top: 60px;
        height: 48px;
    }

    .se4_cards li div h3 {
        font-size: 14px;
        margin: 20px 0 20px 0;
    }

    .se4_cards .actived div h3 {
        margin: 20px 0;
    }

    .se4_cards .actived div p {
        display: none;
    }

    .se4_cards li div p {
        display: none;
    }

    .section5 {
        background: url("../images/se5_bg.jpg") center no-repeat;
        background-size: cover;
    }

    .se5_card {
        width: calc(94% - 40px);
        padding: 20px;
        margin: 70px auto 40px auto !important;
    }

    .se5_left {
        float: none;
        font-size: 14px;
    }

        .se5_left > img {
            height: 120px;
        }

    .se5_right {
        float: none;
        border-left: none;
        padding-left: 0;
    }

        .se5_right li > img {
            margin-right: 20px;
        }

        .se5_right li > span {
            width: calc(100% - 70px);
        }

            .se5_right li > span > h3 {
                font-size: 14px;
            }

            .se5_right li > span > p {
                font-size: 12px;
                line-height: 20px;
            }

    footer {
        height: auto;
    }

        footer p {
            margin: 10px 0;
        }

    .right_fix {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    .qq_fix {
        bottom: 132px;
    }

    .nav_btn {
        position: relative;
        float: right;
        color: #fff;
        height: 32px;
        width: 32px;
        text-align: center;
        margin-top: 12px;
        z-index: 1001;
    }

        .nav_btn:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -6px;
            margin-left: -8px;
            display: inline-block;
            height: 2px;
            width: 20px;
            border-radius: 1px;
            background: #fff;
            transition: .2s;
        }

        .nav_btn:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: 4px;
            margin-left: -8px;
            display: inline-block;
            height: 2px;
            width: 20px;
            border-radius: 1px;
            background: #fff;
            transition: .2s;
        }

    .nav_btn_on:before {
        margin-top: 0;
        transform: rotate(45deg);
    }

    .nav_btn_on:after {
        margin-top: 0;
        transform: rotate(-45deg);
    }

    .nav_btn i {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -1px;
        margin-left: -8px;
        display: inline-block;
        height: 2px;
        width: 20px;
        border-radius: 1px;
        background: #fff;
    }

    .login_left {
        display: none;
    }

    .login_right {
        float: none;
        margin-left: 0;
    }

        .login_right p {
            position: relative;
        }

        .login_right input[type=text] {
            width: calc(100% - 20px);
        }

        .login_right button {
            width: 100%;
        }

    .vcode1 {
        position: absolute;
        top: 15px;
        right: 10px;
        margin-left: 0;
    }

    .register {
        float: none;
        margin-left: 0;
    }

        .register input[type=text] {
            width: calc(100% - 20px);
            margin-right: 0;
        }

        .register button {
            width: 100%;
        }

    .main_box {
        width: 100%;
        padding: 10px 0;
    }

        .main_box h3 {
            font-size: 12px;
        }

        .main_box p {
            font-size: 12px;
        }

    .search_box button {
        width: 80px;
        font-size: 14px;
    }

    .search_box input {
        font-size: 12px;
        margin: 0 6px;
        width: calc(100% - 150px);
        text-align: left;
    }

    .bottom_btn a {
        width: 40%;
        margin-right: 10%;
    }

    .order_result {
        font-size: 14px;
        line-height: 24px;
    }

        .order_result > img {
            display: block;
            float: left;
        }
}
